<!doctype html>
<html>
<head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
                        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
                        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
                        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
                        crossorigin="">
        </script>
	<script type=text/javascript>
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
	<link rel="stylesheet" href="static/leaflet-vector-markers.css">
	<script src="static/leaflet-vector-markers.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
			crossorigin="anonymous">
	</script>


</head>
<style type="text/css">
        header, footer {
                padding : 2px 15px 15px 2px;

                color: white;
                background-color: black;
                clear: left;
                text-align: center;
        }
        #sidebar-wrapper {
                float: left;
        }
</style>

<body>
        <header>
                <h1>Cerberus</h1>
        </header>

        <div id="MyMap" style="width:100%;height:530px;"></div>
        <script type="text/javascript">
                var mymap = L.map('MyMap').setView([37.3861372,-121.9673456], 7);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mymap);

		function sleep(milliseconds) {
  			var start = new Date().getTime();
  			for (var i = 0; i < 1e7; i++) {
  			  if ((new Date().getTime() - start) > milliseconds){
  			    break;
  			  }
  			}
		}


		function putMarkers()  {
                        $.ajax({
                                type: 'GET',
                                url: $SCRIPT_ROOT + '/livemapjson',
                                data: {},
                                dataType: 'json',
                                success: function(data) {
				    var rMarker = L.VectorMarkers.icon({ markerColor: 'red' });
				    var yMarker = L.VectorMarkers.icon({ markerColor: 'yellow' });
				    var gMarker = L.VectorMarkers.icon({ markerColor: 'green' });
				    var arrayLength = data.length;
				    for (var i = 0; i < arrayLength; i++) {
                                        var myLatLng = L.latLng(data[i]);
					if (data[i]['event_severity'] == 'High') {
						var marker = L.marker(myLatLng, {icon: rMarker}).addTo(mymap);
					} else if (data[i]['event_severity'] == 'Medium') {
						var marker = L.marker(myLatLng, {icon: yMarker}).addTo(mymap);
					} else if (data[i]['event_severity'] == 'Low') {
						var marker = L.marker(myLatLng, {icon: gMarker}).addTo(mymap);
					}
					marker.bindPopup("Event Priority:"+data[i]['event_severity']+"<br/>"+"Time:"+data[i]['event_start_time']).openPopup();
                                     }
				},
                                error: function() { 
                                    console.log("cannot get json ...boo hoo");
                                }
                        });     
                }
		
		setInterval(putMarkers, 10000);


        </script>
	<footer>Ajay Sreehari, Data Engineering Fellow, Insight</footer>

</body>
</html>
